body {
  background-color: #2f343a;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #f7f7f8;
  text-align: center;
}

.logo {
  font-size: 4em;
  font-family: 'Vampiro One', cursive;
  background: linear-gradient(330deg, #99e052 25%, #52e0e0 50%, #9952e0 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.sub-logo {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #f7f7f8;
}

.coming-soon {
  margin: 4em;
}
